@import "./config/styles/all.scss";
@import "./components/button/button.scss";

.App {
  background-color: $brand-background;
}

.main {
  min-height: calc(100vh - 109px);
}

a {
  text-decoration: none;
}

.styled-field {
  margin-bottom: $component-spacing;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  label {
    padding: $component-spacing;
    color: white;
    font-size: 18px;
  }
  input,
  textarea {
    margin: 0 5px;
    width: 200px;
    padding: 5px;
    border-radius: 4px;

    @media screen and (min-width: map-get($mediabreakpoints, md)) {
      margin: 0 16px;
      width: 400px;
      padding: 8px;
      border-radius: 4px;
    }
  }

  .field-errors {
    color: red;
    padding: 5px 0;
    font-size: 12px;
  }
}