@import "./config/styles/all.scss";

.App {
  background-color: $brand-background;
}

.main {
  min-height: calc(100vh - 109px);
}

.App-link {
  color: $brand-link;
}

a {
  text-decoration: none;
}
