
$brand-white:  #ffffff !default;
$brand-blue:    #282c34 !default; //blue
$brand-light-blue: #61dafb !default; //light blue


$brand-background:    $brand-blue !default; //blue
$brand-link:           $brand-light-blue!default; //light blue

